body {
    background-color: black;
    display: flex;
    height: 95vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    padding-top: 2%;
    margin: 0;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    align-self: center;
    height: 90vh;
    width: 90%;
    top: 5vh;
}

#menu {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
    padding-top: 2vh;
}

#map {
    background-color: slategray;
}

.hidden {
    display: none;
}

#camera-frame {
    margin-top: 1%;
    margin-left: 3%;
    width: 600px;
    height: 450px;
    background-color: white;
}

#sidebar {
    position: relative;
    height: 90vh;
    background-color: red;
    order: -1;
    top: 5vh;
}

.chart {
    background-color: white;
}

#charts-menu {
    flex-direction: row;
}